---
import { ArrowRight } from "lucide-react";

import { socialLinks } from "../data/navigation";
import BlurredGradientMesh from "./../components/BlurredGradientMesh.astro";
import { Button } from "./../components/ui/button";
---

<section
  class="relative min-h-[90vh] flex flex-col justify-center overflow-hidden"
>
  <BlurredGradientMesh />
  <div class="px-4 md:px-6 relative z-10">
    <div>
      <div class="flex flex-col justify-center space-y-4">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold animate-slide-up">
          Cześć, jestem <span class="text-primary">Radosław Rzepka</span>
        </h1>
        <p
          class="text-xl text-muted-foreground max-w-[600px] animate-slide-up-delay"
        >
          Tworzę wyjątkowe aplikacje internetowe łączące nowoczesny design z
          zaawansowaną technologią. Specjalizuję się w Next.js, React,
          TypeScript, AWS i Nest.js.
        </p>

        <div class="flex flex-col sm:flex-row gap-3 pt-4 animate-fade-in-delay">
          <a class="cursor-pointer" href="/projects">
            <Button variant="default" size="lg">
              Zobacz moje projekty <ArrowRight className="ml-2 h-4 w-4" />
            </Button>
          </a>
          <a class="cursor-pointer" href="/contact">
            <Button variant="outline" size="lg">Skontaktuj się</Button>
          </a>
        </div>

        <div class="flex items-center gap-4 pt-4 animate-fade-in-delay-2">
          {
            socialLinks.map(({ href, icon: Icon, label }) => (
              <a
                href={href}
                class="text-muted-foreground hover:text-foreground transition-colors"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon className="h-6 w-6" />
                <span class="sr-only">{label}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
