---
import { ArrowLeft } from "lucide-react";

import { Button } from "../components/ui/button";
import Layout from "../layout/Layout.astro";
---

<Layout
  title="404 - Strona nie znaleziona | Radosław Rzepka"
  description="Przepraszamy, ale strona której szukasz nie istnieje."
>
  <div
    class="container mx-auto px-4 flex flex-col items-center justify-center min-h-[70vh] text-center"
  >
    <div class="relative">
      <h1 class="text-9xl font-bold text-primary opacity-10 md:text-[15rem]">
        404
      </h1>
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="space-y-6 max-w-2xl">
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
            Ups! Strona nie znaleziona
          </h2>
          <p class="text-muted-foreground">
            Przepraszamy, ale strona której szukasz nie istnieje lub została
            przeniesiona.
          </p>
          <div class="flex justify-center pt-4">
            <a href="/">
              <Button className="cursor-pointer" variant="default" size="lg">
                <ArrowLeft className="mr-2 h-4 w-4" />
                Wróć na stronę główną
              </Button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
