---
import { ExperienceTimeline } from "@/components/experience";
import Layout from "@/layouts/Layout.astro";
import PageContainer from "@/layouts/PageContainer.astro";
---

<Layout
  title="Doświadczenie | Radosław Rzepka"
  description="Moje doświadczenie zawodowe jako full-stack developer. Poznaj projekty, nad którymi pracowałem i technologie, których używam."
>
  <PageContainer title="Doświadczenie">
    <div class="max-w-3xl mx-auto">
      <ExperienceTimeline client:visible />
    </div>
  </PageContainer>
</Layout>
