---
import { Certifications } from "@/components/certifications";
import { FilterableSkills } from "@/components/skills";
import Layout from "@/layouts/Layout.astro";
import PageContainer from "@/layouts/PageContainer.astro";
---

<Layout
  title="Umiejętności | Radosław Rzepka"
  description="Moje umiejętności techniczne jako full-stack developer. Specjalizuję się w Next.js, React, TypeScript, AWS i Nest.js."
>
  <PageContainer title="Umiejętności">
    <div class="flex flex-col gap-32">
      <FilterableSkills client:visible />
      <Certifications />
    </div>
  </PageContainer>
</Layout>
