---
import { ArrowRight } from "lucide-react";

import { projects } from "@/data/projects";

import SectionContainer from "../layout/SectionContainer.astro";
import ProjectCard from "../projects/ProjectCard.astro";
import { Button } from "../ui/button";

const featuredProjects = projects.filter(
  (project) => project.featured === true,
);
---

<SectionContainer>
  <h2 class="text-3xl font-bold tracking-tighter mb-6">Wybrane projekty</h2>
  <div
    class="bg-background rounded-xl p-6 shadow-lg dark:bg-zinc-900 dark:border dark:border-zinc-800"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {featuredProjects.map((project) => <ProjectCard project={project} />)}
    </div>

    <div class="flex justify-center mt-8">
      <a href="/projects">
        <Button variant="outline" size="lg">
          Zobacz wszystkie projekty <ArrowRight className="ml-2 h-4 w-4" />
        </Button>
      </a>
    </div>
  </div>
</SectionContainer>
