---
import { ArrowRight } from "lucide-react";

import SectionContainer from "@/layouts/SectionContainer.astro";

import { Button } from "../ui/button";
import SkillIcons from "./SkillIcons.astro";
---

<SectionContainer>
  <h2 class="text-3xl font-bold tracking-tighter mb-6">
    Preferowane technologie
  </h2>
  <div
    class="bg-background rounded-xl p-6 shadow-lg dark:bg-zinc-900 dark:border dark:border-zinc-800"
  >
    <SkillIcons />

    <div class="flex justify-center mt-8">
      <a href="/skills">
        <Button variant="outline" size="lg">
          Zobacz wszystkie umiejętności <ArrowRight className="ml-2 h-4 w-4" />
        </Button>
      </a>
    </div>
  </div>
</SectionContainer>
